.nav-pills-bordered > li > a {
    background-color: #fff;
}

.nav-pills > li > .btn-group {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-pills > li > .btn-group > .btn {
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
}

.class-button {
    background-color: #fcfcfc !important;
    border-color: #ddd !important;
    color: #333 !important;
}

.class-button-active {
    background-color: #2196f3 !important;
    border: 1px solid #2196f3 !important;
    border-radius: 3px !important;
    color: #fff !important;
}

.class-button-create {
    background-color: #66BB6A !important;
    border: 1px solid #66BB6A !important;
    border-radius: 3px !important;
    color: #fff !important;
}

.class-options {
    background-color: #fcfcfc !important;
    border-color: #ddd !important;
    color: #333 !important;
    padding: 9px 10px 9px 15px !important;
}

.class-options-active {
    padding: 9px 10px 9px 15px !important;
    background-color: #0e7ed5 !important;
}

.no-antialias { 
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

}

.drag-item, .outside-drag-item {
    position: absolute;
    cursor: move;
}

.drop-target {
    left: 0px; top: 0px;
    position: absolute;
    width: 736px;
    height: 736px;
    border: dashed 1px orange;
    background: whitesmoke url('/assets/images/objects/grid_64.png') repeat;
    background-size: 32px 32px;
    cursor: crosshair;
    
}

.outline-highlight {
    -webkit-filter: drop-shadow(1px 1px 0 #26a69a) drop-shadow(-1px -1px 0 #26a69a);
    filter:drop-shadow(1px 1px 0 #26a69a) drop-shadow(-1px -1px 0 #26a69a);
}

.icons-list {
    margin-top: 11px;
}

#save-button, #view-seating-plan-button {
    cursor: pointer;
    color: white;
}

.view-seating-plan-icon {
    padding-bottom: 2px;
}

.main-panel-body {
    height: 736px;
    overflow-x: auto;
    overflow-y: auto;
}

.icon-plus22 {
    padding-bottom: 1px;
}

.selected-panel-header {
    word-wrap: break-word;
    width: 90%;
}

.selected-panel-body {
    display: none;
}

.thumbnail {
    margin-top: 5px;
}

.icon-cog3 {
    margin-top: -15px;
}

#selected-delete {
    padding: 3px 6px;
}

#selected-no-items {
    display: none;
}

.item-thumb-frame {
    height: 100px;
    margin-bottom: 5px;
}

.item-thumb {
    position: relative;
    height: 80px;
}

.item-thumb > img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.item-description {
    position: absolute;
    bottom: 5px;
    padding-left: 0px;
}

.item-description > .text-default {
    font-size: 10px;
}

.item-panel-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.student-table {
    max-height: 275px;
}

#algorithm-boy-girl-settings {
    display: none;
}

.text-center > .text-muted {
    margin-bottom: 5px;
    margin-top: 10px;
}

#boy-girl-warning {
    display: none;
}

.second-student {
    margin-top: 10px;
}

.drag-item {
    display: none;
}

.tooltip-blue {
    background-color: #2196f3;
    border-color: #2196f3;
}

.tooltip-pink {
    background-color: #d2527f;
    border-color: #d2527f;
}

.custom-tooltip-inner {
    padding: 3px 8px;
}

.confirming-spinner {
    margin-left: 5px;
}

.sidebar-label {
    margin-right: 60px;
}

.class-button-active > .text-muted {
    color: #ddd;
}

.text-muted-light > small {
    color: #ddd;
}

.class-create-list-item {
    margin-top: 10px !important;
    margin-bottom: 20px;
}

.navbar-brand {
    padding-left: 19px;padding-top: 8px;
}

.navbar-brand > img {
    height: 25px;
}

.uniform-styled-white > span {
    color: white !important;
    border: 2px solid white !important;
}

.tooltip {
    z-index: 1000;
}

.student-td-1 {
    padding-right: 0px;
    padding-left: 20px;
}

.student-td-2 {
    padding-left: 0px !important;
}
.student-td-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.student-td-4 {
    padding-left: 0px;
    padding-right: 20px;
}

.student-th-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.student-th-2 {
    padding-left: 0 !important;
}

#remove-seated-students {
    padding: 3px 6px;
    margin-top: 5px;
}